/* Unikitty Light by Josh W Lewis (@joshwlewis) */
/* https://github.com/samme/base16-styles/blob/master/css-variables/base16-unikitty-light.css */

:root {
  --base00: #ffffff;
  --base01: #e1e1e2;
  --base02: #c4c3c5;
  --base03: #a7a5a8;
  --base04: #89878b;
  --base05: #6c696e;
  --base06: #4f4b51;
  --base07: #322d34;
  --base08: #d8137f;
  --base09: #d65407;
  --base0A: #dc8a0e;
  --base0B: #17ad98;
  --base0C: #149bda;
  --base0D: #775dff;
  --base0E: #aa17e6;
  --base0F: #e013d0;
}


body {
  background-color: var(--base00);
  color: var(--base05);
}

h1 {
  color: var(--base0D);
}

h2 {
  color: var(--base08);
}

h3 {
  color: var(--base0C);
}


.text-success {
  color: var(--base0B)!important;
}

.text-info {
  color: var(--base0C)!important;
}

.text-warning {
  color: var(--base0A)!important;
}

.text-danger {
  color: var(--base08)!important;
}
